@import "my-ionic";
@import 'common';

// Your application styles go here

#intro {
  background-image: url('https://placeimg.com/480/640/nature/grayscale');
  background-size: cover;
  background-position: center;

  h1 {
    color: white;
  }

  .logo {
    background-image: url('http://placehold.it/100x100&text=logo');
    position: relative;
    display: block;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 30px auto;

  }

  .button-bar-footer {
    background: transparent;
  }

  .slider {
    height: 100%;
    color: white;
    .slider-slide {
      padding-top: 50px;
      text-align: center;
    }
    .slider-pager .slider-pager-page {
      color: white;
    }
  }
}
