<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">SignUp</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false">
    <form ng-submit="doSignUp()" novalidate>

      <div class="list">
        <label class="item item-input">
          <input ng-model="signUpData.email" placeholder="Email" type="email" name="email" required>
        </label>
        <label class="item item-input">
          <input ng-model="signUpData.password" placeholder="Password" type="password" name="password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
