<ion-view id="intro" hide-nav-bar="true">

  <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">

    <h1>intro</h1>
  </ion-content>

  <ion-footer-bar class='bar-footer-button'>

    <div class="row">
      <div class="col col-50">
        <button class="button button-block button-light button-ghost" ng-click="show_signup()">Sign Up</button>
      </div>

      <div class="col col-50">
        <button class="button button-block button-calm" ng-click="show_login()">Log In</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>

