<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <form ng-submit="doLogin()" novalidate>
      <div class="list">
        <label class="item item-input">
          <input ng-model="loginData.email" placeholder="Email" type="text" name="email" required>
        </label>
        <label class="item item-input">
          <input ng-model="loginData.password" placeholder="Password" type="password" name="password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
